.booking-show {
    border-bottom: 1px solid lightgray;
    min-height: 10rem;
    padding: 10px;
}
    
.UBS-container {
    display: flex;
    
    img {
        height: 10rem;
        width: 15rem;
        min-width: 15rem;
        object-fit: cover;
    }    
}

.UBS-container__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 70%;
    width: auto;
    justify-content: space-evenly;
    margin-left: 25px; 
    
    h1 {
        font-size: 25px;
        font-weight: 700;
        text-align: left;
    }
    
    h2 > span, h3 > span {
        font-size: 18px;
        font-weight: 700;
    }
}

.UBS-container__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 300px;
    justify-content: space-evenly;
    margin-left: 15px; 

    button {
        background-color: white;
        color: rgb(86, 211, 144);
        border: 2px solid rgb(86, 211, 144);
        text-align: center;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        height:30px;
        width:45%;
        border-radius: 5px;
        transition-duration: .1s;
        transition-timing-function: linear;
        transition-property: all;
    }

    button:hover {
        background-color: rgb(86, 211, 144);
        color: white;
        border: none;
        box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.274);
    }
}