.filter-bar-container{
    position: sticky;
    width:100%;
    top: 85px;
    height: 55px;
    background-color: white;
    z-index: 50;
    ul{
        display: flex;
        flex-direction: row;

        li {
            padding: 20px;
        }
    }

}