header {
    height: 85px;
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(243, 242, 239);
}
// .super-nav {
//     // display: flex;
//     // justify-content: center;
//     background-color: rgb(243, 242, 239);
//     z-index: 101;
//     height: 85px;
//     position:fixed;
//     z-index: 100;
//     // top:0;
//     width: 100%;
//     // border: 3px solid rgb(207, 0, 0);
// }

.nav-bar { 
    display: flex;
    flex-direction: row;
    width: 80%;
    // max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    // padding-left: 150px;
    // padding-right: 150px;
    padding-left: 10%;
    padding-right: 10%;
    height: 50px;
    align-items: center;   
	background-color: rgb(243, 242, 239);
    box-sizing: content-box;
    // left: 50%;
    // right: 50%;
    
    // border: 3px solid rgb(0, 0, 0);
    // position: fixed;
    top: 0px;
    z-index: 100;


    .search-bar {

        background: #947e1d;
        border: 0.5px solid #E5ECD9;
        box-sizing: border-box;
        border-radius: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    .login-signup {
        display: flex;
        flex-direction: row;
        float: right;
        justify-content: flex-end;
        // border: 2px solid black;
        
    }
    .user-links {
        display: flex;
        // position: absolute;
        flex-direction: row;
        justify-content: center;
        float: right;
        // border: 2px solid black;

    }

    .auth-options {
        display: flex;
        flex-direction: row;
        // border: 3px solid rgb(0, 0, 0);    
        color: black;
        text-decoration: none;
        margin: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 900;
        font-size: 17px;
        height: 20px;
        padding-bottom: 2px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);

    }
    .auth-options:hover {
        
        padding-bottom: 2px;
        border-bottom: 2px solid rgba(0, 179, 60, 0.911);
        // line-height: 23px;
    }


}