.res-form-container {    
    position: relative;
    top:-35px;
}

.reservation-container {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    height: 400px;
    width: 300px;
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: white;
    box-shadow: 1px 4px 7px 2px lightgray;
    // position: relative;
    top: 100px;
}
    

.reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    padding: 15px;

    .res-price{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;
        align-items: baseline;

        h1 {
            font-size: 26px;
            font-weight: 900;
        }
    }

    label {
        font-size: 18px;
        font-weight: 600;
    }

    input {
        margin-bottom: 10px;
        margin-top: 5px;
        height:53px;
        width:265px;
        // margin: left 5px, right 5px;
    }

    input::-webkit-calendar-picker-indicator {
        position: absolute;
        left: -10px;
        width: 260px;
        height: 50px;
        cursor: pointer;
        opacity: 0;
    }
    
    select {
        margin-bottom: 20px;
        margin-top: 5px;
        height:53px;
        width:100%;
        margin: left 5px, right 5px;
    }

    button {
        background-color: rgb(86, 211, 144);
        border: none;
        color: white;
        padding: 12px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: bolder;
        margin: 2px 2px;
        height:53px;
        width:100%;
        border-radius: 5px;
        transition: 0.3s;
        margin-bottom: 10px;
    }
    
    button:hover {
        box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.274);
    }
    
}