.modal-child{
    .login-background {
        height: 600px;
        width: 500px;
        border-radius: 5px;
    }

    .login-form-container{
        margin-top: 70px;
    }

    .login-input[type="text"], .login-input[type="password"] {overflow: hidden}
}