.spot-index-grand-container{
    display: flex;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    flex-direction: column;
}

.spot-index-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(253, 253, 253);
    height: calc(100vh - 85px);
    justify-content: center;
    margin-left: 20px;
    // max-width: 1800px;

    // border: 10px solid rgb(15, 199, 255);

    ul {
        // border: 1px solid rgb(35, 255, 15);
        width: 720px;

    }

    .map-container {
        width: 70%;
        min-width: 40%;
        // max-width: 500px;
        // border: 5px solid rgb(255, 0, 242);
        // position: fixed;
        // top: 0;
    }
    
    .google-map {
        position: fixed;
        top: 0;
        // max-width: 500px;
        object-fit: cover;
        overflow: hidden;
        // height: 100%;
        height: calc(100vh - 85px);
        width: 100%;
        border-radius: 0px;
        // border: 1px solid rgb(255, 0, 242);
        
    }
}    
    
.spot-index-box {
    // min-height: 500px;
    max-width: 660px;
    min-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // z-index: 1;
    // overflow-y: scroll;
    // border: 1px solid rgb(0, 155, 83);

    // width: 50vw;
    min-height: 10vh;
    max-height: 100vh;
    overflow-y: scroll;
    // display: flex;

    li {
        display: flex;
        flex-direction: row;
        width: 630px;
        margin: 10px;
        // border: 1px solid red;
    }

    .spotIndex-hr {
        margin-top: 15px;
        margin-right: 25px;
        // border: 1px solid lightgray;
    } 
}

.spot-index-image {
    min-width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: 20% 50%; 
    border-radius: 15px;
}

.spot-index-stuff{
    display: flex;
    padding: 11px;
    padding-bottom: 3px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid blue;
    
    .main-info {
        .rating {
            font-size: 12px;
            font-weight: 400;
            color: green;
            margin-bottom: 6px;
        }
        
        .title {
            font-size: 20px;
            font-weight: 800;
            // border: 1px solid blue;
            margin-top: 7px;
        }

        .index-lodging {
            display: flex;
            margin-right: 20px;
            color:rgb(146, 146, 146);
            font-size: 14px;
            flex-wrap: wrap;
            margin-top: 7px;

        }
    }

    .cost {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        .price {
            position: relative;
            font-size: 18px;
            font-weight: 700;
            right: -1px;
            // border: 1px solid blue;
        }
        .night {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            right: -1px;
            margin-left: 5px;
            // border: 1px solid blue;
        }
    }
}